<div class="container">
  <div class="app-logo"></div>

  <div class="message-body">
    <div class="title">Activation Email Sent!</div>

    <div class="message">
      We've sent a link to your email.
      <br />
      Click the confirmation link in that email to begin your account creation
      process.
    </div>

    <div class="footer">
      <div class="tips">Did not recieve any email?</div>
      <a (click)="resendEmail()" class="quick-link">Resend another email</a>
    </div>
  </div>
</div>
