<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="navbar-brand"><h3 class="app-logo">SecurePass</h3></div>

    <button
      class="navbar-toggler"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-between"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a
          class="nav-link"
          routerLinkActive="active"
          routerLink=""
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="/signup"
          >Register</a
        >
        <a class="nav-link" routerLinkActive="active" routerLink="/signin"
          >Login</a
        >
      </div>
    </div>
  </div>
</nav>
