<div class="form-wrapper">
    <div class="form-container">
        <form (ngSubmit)="onSubmit()" [formGroup]="resetPasswordForm">   
            <div class="form-head space-between">
                <span class="app-logo"></span>
                <span class="form-name">Reset Password</span>
            </div>
                                    
            <div class="mb-3">
                <label class="required" for="password">Master Password</label>
                <div class="d-flex align-items-center">
                    <input class="form-control" type="{{ isPasswordVisible ? 'text' : 'password' }}" id="password" 
                    maxlength="32" placeholder="Enter your master password" formControlName="password"
                    (focus)="isPasswordTooltipVisible = true" (blur)="isPasswordTooltipVisible = false"
                    [class.invalid]="formControls.password.invalid && formControls.password.touched">
                    
                    <mat-icon class="visibility-toggler" (click)="isPasswordVisible = !isPasswordVisible">
                    {{ isPasswordVisible ? "visibility_off" : "visibility"}}</mat-icon>
                </div>
                
                <div *ngIf="isPasswordTooltipVisible" class="password-tooltip">
                    <span>Password must:</span>
                    <ul>
                        <li>Have at least 1 number</li>
                        <li>Have at least 8 characters</li>
                        <li>Have at least 1 special character</li>
                        <li>Include both uppercase and lowercase characters</li>
                    </ul>
                </div>

                <div *ngIf="formControls.password.invalid && formControls.password.touched">
                    <span *ngIf="formControls.password.errors.required" 
                    class="text-danger">Please enter a new master password</span>
                    <span *ngIf="formControls.password.errors.pattern" 
                    class="text-danger">Password does not match all requirements</span>
                    <span></span>
                </div>
            </div>

            <div class="mb-3">
                <label class="required" for="confirmPassword">Confirm Password</label>
                <div class="d-flex align-items-center">
                    <input class="form-control" type="password" type="{{ isPasswordVisible ? 'text' : 'password' }}"
                    id="confirmPassword" maxlength="32" placeholder="Confirm master password" formControlName="confirmPassword"
                    [class.invalid]="formControls.confirmPassword.invalid
                    && formControls.confirmPassword.touched">

                    <mat-icon class="visibility-toggler" (click)="isPasswordVisible = !isPasswordVisible">
                    {{ isPasswordVisible ? "visibility_off" : "visibility"}}</mat-icon>
                </div>
                
                <div *ngIf="formControls.confirmPassword.invalid && formControls.confirmPassword.touched">
                    <span *ngIf="formControls.confirmPassword.errors.required" 
                    class="text-danger">Please confirm master password</span>
                </div>
                <span class="text-danger" *ngIf="resetPasswordForm.hasError('arePasswordsDifferent')">
                    Entered passwords does not match
                </span>
            </div>
            
            <button type="submit" [disabled]="!resetPasswordForm.valid" class="btn btn-primary w-100">Reset Password</button>
        </form>
    </div>
</div>